language: node_js
node_js:
  - "10"

install: npm install

script:
  - npm run lint
  - npm run test

deploy:
  provider: pages
  skip-cleanup: true
  github-token: $GITHUB_TOKEN
  keep-history: true
  local-dir: docs
  on:
    branch: master
